// SASS: Image Foler Location
$image-folder: 'images/';

// SASS: Global Images
$image-logo-omax3: (width:1200px,height:350px,file:'logo-omax3.png');
$image-hero-product: (width:570px,height:330px,file:'lp1002/hero-product.png');
$image-callouts-drop: (width:120px,height:170px,file:'lp1002/callouts-drop.png');
$image-chart: (width:680px,height:560px,file:'lp1002/chart.png');
$image-quote-person: (width:200px,height:200px,file:'lp1002/quote-karen.png');
$image-quote-bg: (width:420px,height:280px,file:'lp1002/quote-bg.png');
$image-doctor-maroon: (width:500px,height:500px,file:'lp1002/doctor-maroon.png');
$image-lower-cta-product: (width:620px,height:380px,file:'lp1002/lower-cta-product.png');
