// Global: Overrides
.container {position:relative; @include center-horizontal(); box-sizing:border-box; overflow:hidden;}
body {background-color:#fff!important; width:100%!important;
	* {font-family: Montserrat !important; color:#333;}
}

// Global: Boxes (Variable Height Boxes centered per Row, stacked in mobile)
.flexbox {
	&, & > .row {position:relative; width:100%; display:flex; flex-direction:row; justify-content:space-between; align-items:stretch;
		.box {position:relative; display:block;}
	}
	& {flex-wrap:wrap;}
	& > .row {flex-wrap:nowrap;
		&:last-of-type {margin-bottom:0px!important;}
	}

	@include tablet_down {
		&, & > .row {flex-direction:column; justify-content:flex-start; align-items:flex-start;
			.box {width:100%; align-self:flex-start;}
		}
		& > .row:last-of-type > .box:last-of-type,
		& > .box:last-of-type {margin-bottom:0px!important;}
	}
}

// Global: Flexbox Columns (Even Height Columns, stacked in mobile)
.flexcolumn {
	&, & > .container {position:relative; width:100%; display:flex; flex-direction:row; flex-wrap:nowrap; justify-content:space-between; align-items:stretch;}
	.column {position:relative; display:block;}
	@include tablet_down {
		&, & > .container {flex-direction:column; justify-content:flex-start; align-items:flex-start;
			.column {width:100%;}
		}
	}
}

// Global: Header	
header {
	& {background-color:#ebebeb;}
	img {@include center-horizontal();}
	
	@include desktop {
		img {width:250px; padding:14px 0;}
	}
	@include tablet_down {
		img {width:180px; padding:14px 0;}
	}
}

// Global: Footer
footer{
   & {background-color:#f2f2f2; text-align:center;}
	p {@include center-horizontal(); text-align: center; color: #000; font-weight:400; @include font-size(12px,14px); margin-top:0px; margin-bottom:6px;
		a {color:$color-orange; text-decoration:none; font-style:normal; font-weight:400;}
	}
	.top {@include center-horizontal(); @include font-size(12px,14px); padding:10px; font-weight:500; border: 1px solid #000; color: #000; background-color:#fff; text-align: center;  margin-bottom:20px;} 
	.links {text-align: center;
		dd {line-height:20px;}
		a{color:#333; @include font-size(16px,20px); font-weight:700; text-decoration:none; font-style:normal;
			&:hover {color:$color-orange;}
		}
	}	
	.connect{display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top:20px;
		a{margin-right: 30px;
			&:last-child{margin-right: 0;}
		}
	}
   
   @include desktop {
	   & {padding-top:30px; padding-bottom:30px;}
	   p {max-width:900px;}
	   .top {max-width:630px;}
	   .links {border-top: 1px solid #cccccc; padding-top: 1em; margin-top: 1em;
		   dl {display: flex; justify-content: center; align-items: center;
			   dd {
            &:after{content: "|"; margin: 0 5px; font-weight: 500; color: #000;}
            &:last-child:after{content: "";}
			   }
		   }
	   }
	   .connect {margin-top:30px;}
   }
   @include tablet {
	   & {padding-top:30px; padding-bottom:30px;}
	   .container {max-width:700px;}
   }
   @include mobile {
	   .container {padding-top:20px; padding-bottom:20px;}
   }
 
 }