// SASS: Breakpoint Sizes
@include breakpoints((
	bp_1280:(1280px,null),
	bp_1024:(1024px,1279px),
	bp_768:(768px,1023px),
	bp_510:(510px,767px),
	bp_360:(null,509px)
));

// SASS: Colors
$color-orange: #F9A136;
$color-green: #82A53F;

// SASS: Responsive Media Queries (old - to be replaced)
@mixin desktop {
	@media (min-width:1024px){
		@content;
	}
}
@mixin tablet {
	@media (min-width:768px) and (max-width:1023px){
		@content;
	}
}
@mixin tablet_up {
	@media (min-width:768px){
		@content;
	}
}
@mixin tablet_down {
	@media (max-width:1023px){
		@content;
	}
}
@mixin mobile {
	@media (max-width:767px){
		@content;
	}
}
@mixin mobile_510 {
	@media (min-width:510px) and (max-width:767px){
		@content;
	}
}
@mixin mobile_360 {
	@media (max-width:509px){
		@content;
	}
}

// Container Widths (old - to be replaced)
@include desktop {
	.container {width:1000px!important;}
}
@include tablet {
	.container {width:750px!important; padding-left:20px; padding-right:20px;}
}
@include mobile {
	.container {width:100%!important; min-width:360px; overflow-x:hidden; padding-left:15px; padding-right:15px;}
}

// Container Widths
@include breakpoint('bp_1280') {
	.container {width:1200px!important;}
}
@include breakpoint('bp_1024') {
	.container {width:1000px!important;}
}
@include breakpoint('bp_768') {
	.container {width:750px!important; padding-left:20px; padding-right:20px;}
}
@include breakpoint('<=bp_510') {
	.container {width:100%!important; min-width:360px; overflow-x:hidden; padding-left:15px; padding-right:15px;}
}

// SASS: Image Foler Location
$image-folder: 'images/';

// SASS: Global Images
$image-logo-omax3: (width:1200px,height:350px,file:'logo-omax3.png');
$image-hero-product: (width:570px,height:330px,file:'lp1003/hero-product.png');
$image-callouts-drop: (width:120px,height:170px,file:'lp1003/callouts-drop.png');
$image-chart: (width:680px,height:560px,file:'lp1003/chart.png');
$image-quote-person: (width:200px,height:200px,file:'lp1003/quote-karen.png');
$image-quote-bg: (width:420px,height:280px,file:'lp1003/quote-bg.png');
$image-doctor-maroon: (width:500px,height:500px,file:'lp1003/doctor-maroon.png');
$image-lower-cta-product: (width:620px,height:380px,file:'lp1003/lower-cta-product.png');



















