main#article {

	h2 {@include font('MontserratMedium'); color:#333;}
	p {@include font('MontserratRegular'); color:#333;
		strong {@include font('MontserratBold');}
		&:last-of-type {margin-bottom:0px;}
	}
	.flexcolumn {
		.column {
			img {width:100%; height:auto;}
		}
	}

	@include desktop {
		.container {width:1000px!important; margin-bottom:40px;}
		h2 {@include font-size(30px); margin-bottom:10px;}
		p {@include font-size(18px,24px); margin-bottom:12px;}
		.flexcolumn {margin-bottom:40px;
			.column {width:50%;
				&:first-of-type {margin-right:20px;}
				&:last-of-type {margin-left:20px;}
			}
			&.single .column {width:100%; margin-left:0px; margin-right:0px;}
		}
	}
	@include tablet_down {
		img {@include center-horizontal();}
	}
	@include tablet {
		.container {margin-bottom:30px;}
		h2 {@include font-size(26px); margin-bottom:8px;}
		p {@include font-size(16px,22px); margin-bottom:10px;}
		.flexcolumn > .column {margin-bottom:20px;}
	}
	@include mobile {
		.container {margin-bottom:20px;}
		h2 {@include font-size(22px); margin-bottom:6px;}
		p {@include font-size(14px,20px); margin-bottom:6px;}
		.flexcolumn > .column {margin-bottom:14px;}
	}
		
	// Global: CTA Box
	.flexcolumn.cta {
		.column {margin-left:0px; margin-right:0px;}
		.column:last-of-type {
			.inner {display:block; border-top:2px solid #000; border-bottom:2px solid #000; text-align:center; text-transform:uppercase; }
			h3 {font-weight:700; color:#333;}
			a {font-weight:600; color:$color-orange; text-decoration:none; margin-bottom:0px;
				&:hover {text-decoration:underline;}
			}		
		}
		
		@include desktop {
			.column:first-of-type{width:730px!important; padding-right:60px;}
			.column:last-of-type {width:270px!important;}
			.inner {padding:20px;}
			h3 {@include font-size(16px); margin-bottom:20px;}
			a {@include font-size(20px,24px);}
		}
		@include tablet_down {
			.inner {padding:10px;}
			h3 {@include font-size(14px); margin-bottom:15px;}
			a {@include font-size(18px);}
		}	
	}
	
	// Global: Image Box
	.flexcolumn.image {
		.column {margin-left:0px; margin-right:0px;
			img {width:100%; height:auto;}
		}
		
		@include desktop {
			& {margin-bottom:60px;}
			.column:first-of-type{width:360px;}
			.column:last-of-type{width:640px; padding-left:80px;
				h2 {@include font-size(28px);}
			}
		}
		@include tablet {
			& {flex-direction:row; flex-wrap:nowrap; justify-content:space-between; align-items:stretch; margin-bottom:30px;}
			.column:first-of-type{width:290px;}
			.column:last-of-type{width:460px; padding-left:40px;
				h2 {@include font-size(24px);} 
			}	
		}
		@include mobile {
			& {margin-bottom:20px;}
		}	
	}

	// Global: Title	
	#title {
		.container {text-align:center; padding:0px!important;}
		h1 {font-weight:600;}
		img {width:100%; height:auto;}
		
		@media (min-width:1190px){
			.container {width:1170px!important;}		
		}
		@include desktop {
			.container {margin-bottom:80px;}
			h1 {@include font-size(60px); margin:70px auto 35px;}
			p {@include font-size(18px); margin-bottom:60px;}
		}
		@include tablet {
			.container {margin-bottom:60px;}
			h1 {@include font-size(56px); margin:45px auto 10px;}
			p {@include font-size(20px); margin-bottom:25px;}			
		}
		@include mobile {
			.container {margin-bottom:40px;}
			h1 {@include font-size(32px); margin:20px 20px 10px;
				br {display:none;}
			}
			p {@include font-size(18px); margin-bottom:25px;}			
		}		
	}
	
	// Page: Keto Diet
	&.keto {
		.flexcolumn.percentage {
			.column:last-of-type {background-color:#AAC865;
				.inner {position:relative; text-align:center;
					* {display:inline-block; color:#fff;}
					.percentage {font-weight:500; text-align:right;}
					.omega-3 {font-weight:400; text-align:left;}
				}
			}
		}
		
		.flexcolumn.r6 {text-align:center;
			a {text-transform:uppercase; color:$color-orange; font-weight:bold;}
		}
		
		@include desktop {
			.flexcolumn.percentage {
				.inner {@include center-vertical();
					.percentage {@include font-size(72px);}
					.omega-3 {@include font-size(32px); padding-left:24px;}
				}
			}
			.flexcolumn.r6 {
				p,a {@include font-size(22px,26px);}
				p {margin-bottom:20px!important;}
			}
		}
		@include tablet {
			.flexcolumn.percentage {
				.inner {padding:20px;
					.percentage {@include font-size(68px);}
					.omega-3 {@include font-size(28px); padding-left:24px;}
				}
			}
			.flexcolumn.r6 {
				& {margin:40px 0;}
				p,a {@include font-size(20px,24px);}
				p {margin-bottom:18px!important;}
			}
		}
		@include mobile {
			.flexcolumn.percentage {
				.inner {padding:20px;
					* {display:block!important; text-align:center!important;}
					.percentage {@include font-size(40px);}
					.omega-3 {@include font-size(26px);
						br {display:none!important;}
					}
				}
			}
			.flexcolumn.r6 {
				& {margin:20px 0;}
				p,a {@include font-size(18px,22px);}
				p {margin-bottom:16px!important;}
			}
		}	
		
				
	}
	
	// Page: How Omax3 Relieved
	&.relieved {
		.flexcolumn.r6 {text-align:center;
			a {text-transform:uppercase; color:$color-orange; font-weight:bold; font-style:italic;}
		}
		
		@include desktop {
			.flexcolumn.r6 {
				h2 {margin-bottom:20px;}
				a {@include font-size(26px);}	
			}
		}
		@include tablet {
			.flexcolumn.r6 {
				h2 {margin-bottom:16px;}
				a {@include font-size(20px);}	
			}
		}
		@include mobile {
			.flexcolumn.r6 {
				h2 {margin-bottom:12px;}
				a {@include font-size(18px);}	
			}
		}		
	}
	
	// Page: 5 Reasons
	&.reasons {
		.flexcolumn.r8 {text-align:center;
			a {color:$color-orange; font-weight:bold;} 
		}
	}
	
}
