// SASS: Colors
$color-orange: #F9A136;
$color-green: #82A53F;

// SASS: Responsive Media Queries
@mixin desktop {
	@media (min-width:1024px){
		@content;
	}
}
@mixin tablet {
	@media (min-width:768px) and (max-width:1023px){
		@content;
	}
}
@mixin tablet_up {
	@media (min-width:768px){
		@content;
	}
}
@mixin tablet_down {
	@media (max-width:1023px){
		@content;
	}
}
@mixin mobile {
	@media (max-width:767px){
		@content;
	}
}
@mixin mobile_510 {
	@media (min-width:510px) and (max-width:767px){
		@content;
	}
}
@mixin mobile_360 {
	@media (max-width:509px){
		@content;
	}
}

// Container Widths
@include desktop {
	.container {width:1000px!important;}
}
@include tablet {
	.container {width:750px!important; padding-left:20px; padding-right:20px;}
}
@include mobile {
	.container {width:100%!important; min-width:360px; overflow-x:hidden; padding-left:15px; padding-right:15px;}
}

// SASS: Vertical Centering - Outer element REQUIRES a height, not just a min-height
@mixin center-vertical() {
	position:relative;
	top: 50%;
	transform: translateY(-50%);
}

// SASS: Horizontal Centering
@mixin center-horizontal() {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

// SASS: Placeholder Color
@mixin placeholderColor($color) {
	::-webkit-input-placeholder {color:$color;}
	::-moz-placeholder {color:$color;}
	:-ms-input-placeholder {color:$color;}
	:-moz-placeholder {color:$color;}
}

// SASS: Font Declaration
@mixin font($font,$font_size:null,$line_height:null){

	// Assigns the Font Family
	@if (str-index($font,'Montserrat')) {
		font-family:'Montserrat',Helvetica,Arial,sans-serif; font-style:normal;
	} @else {
		font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-style:normal;
	}
	
	// Assigns the Font Weight	
	@if (str-index($font,'Light')) {
		font-weight:300;
	} @else if (str-index($font,'Regular')) {
		font-weight:400;
	} 	@else if (str-index($font,'Medium')) {
		font-weight:500;
	}  @else if (str-index($font,'SemiBold')) {
		font-weight:600;
	}  @else if (str-index($font,'Bold')) {
		font-weight:700;
	}  @else {
		font-weight:normal;
	}

	// Assigns the Font Style	
	@if (str-index($font,'Italic')) {
		font-style:italic;
	} @else {
		font-style:normal;
	}

	// Assigns the Font Size and Line Height
	@if ($font_size == null) {
		// Do Nothing
	} @else if ($line_height == null) {
		@include font-size($font_size,$font_size);
	} @else {
		@include font-size($font_size,$line_height);	
	}		
}

// SASS: Font Size Changes
@mixin font-size($font_size:null,$line_height:null){ 
	@if ($line_height == null) {
		font-size:$font_size;
		line-height:$font_size;
	} @else {
		font-size:$font_size;
		line-height:$line_height;		
	}		
}

// SASS: Sizing of element with background image, either default or resized proportionally based on WIDTH or manually setting WIDTH & HEIGHT
@mixin image-size($image,$width:null,$height:null){
	@if ($width != null and $height == null) {
		width:$width;
		height:($width * map-get($image,'height')) / map-get($image,'width');
	} @else if ($width == null and $height != null){
		height:$height;
		width:($height * map-get($image,'width')) / map-get($image,'height');
	} @else if ($width != null and $height != null){	
		width:$width;
		height:$height;	
	} @else {
		width:map-get($image,'width');
		height:map-get($image,'height');			
	}
}

// SASS: Sizing of element with background image as fluid 100% WIDTH
@mixin image-size-fluid($image){
	$ratio: map-get($image,'height') / map-get($image,'width');
	$lowerPad: ($ratio * 100%);
	height: 0;
   padding-bottom: $lowerPad;
}

// SASS: Background Image and styles
@mixin image-background($image,$position:null,$size:null){
	background-image:url($image-folder + map-get($image,'file'));
	background-repeat:no-repeat;
	@if ($position != null) {
		background-position:unquote($position);
	} @else {
		background-position:center center;
	}
	@if ($size != null) {
		background-size:unquote($size);
	} @else {
		background-size:100% 100%;
	}
}

// SASS: Background Image file only
@mixin image-background-file($image){
	background-image:url($image-folder + map-get($image,'file'));
}

// SASS: Background styles only
@mixin image-background-style($position:null,$size:null){
	background-repeat:no-repeat;
	@if ($position != null) {
		background-position:unquote($position);
	} @else {
		background-position:center center;
	}
	@if ($size != null) {
		background-size:unquote($size);
	} @else {
		background-size:100% 100%;
	}
}

// SASS: Button Text Vertical Centering
@mixin button-text($height){
	@include font-size($height);
	top:calc((100% - #{$height})/2);
}